* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;


}

a {
    text-decoration: none;
}

/* //////////////////////////////////////////////////////////////////////////////////// */

#redes {
    height: 40px;
    grid-area: redes;
    background-color: #fa7f32;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5%;
    padding-left: 0.5%;
}

#redes a {
    width: 32px;
    height: 32px;
}

.icons {
    height: 32px;
    width: 32px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */

header {
    grid-area: header;
    background-color: #ff914d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
}

header p {
    color: black;
}

header img {
    width: 100px;
    height: 80px;
}

#itens-header {
    width: 70%;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    /* align-items: center; */
    gap: 5%
}

#itens-header p {
    min-width: 110px;
    text-align: center;
}

#itens-header p:hover {
    color:white;
    min-width: 110px;
    text-align: center;
}


#itens-header-login {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    /* border: 1px solid; */
}

#itens-header-login img {
    width: 20%;
    height: 20%;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */

#login {
    background-color: aqua;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */

#produtos {
    background-color: brown;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#promocoes {
    background-color: green;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////// */

#informacoes-1 {
    background-color: greenyellow;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */

#informacoes-2 {
    background-color: yellow;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */

#informacoes-3 {
    background-color: lightyellow;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */

#rodape {
    background-color: rgb(83, 82, 82);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 3vh;
}

.itens-rodape {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.itens-rodape p {
    color: white;
    font-weight: bold;
}

.itens-rodape h3 {
    color: #ff914d;
}

.itens-rodape img {
    border-radius: 20px 20px 20px 20px;
    width: 160px;
    height: 140px;
}

.itens-rodape p:hover {
    color: black;
    font-weight: bold;

}

#copyright {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    background-color: #ff914d;
}

#redes-copy img {
    width: 32px;
    height: 32px;
}

#texto-copy {
    padding: 1vh;
}

#redes-copy {
    padding: 1vh;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
* {
    
}
@media screen and (max-device-width : 480px) {

/* /// FAZENDO A RESPONSIVIDADE /// */
/* /// TESTE COM TRANSFORM /// */
/* header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */

#itens-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-self: safe center;
    justify-content: space-around;
    font-weight: bold;
    /* align-items: center; */
    gap: 8px;
    padding: 8px;
}

#itens-header-login {
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px;
    font-weight: bold;
    /* border: 1px solid; */
}

header img {
   transform: scale(0.8,0.8);
}

#itens-header-login img {
    
    width: 80%;
    height: 80%;
    /* transform: scale(0.8); */
}

#rodape {
    background-color: rgb(83, 82, 82);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    padding: 3vh;
   
}

.itens-rodape {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

}

/* ****************************************    ****************************************************** */

/* Página pix */

#div--backimagem--pix {
    width: 100vw;
    height: 100vh;
    background-image: url(img/inovacao.jpeg);
    background-size: cover;
    ;
}
